* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

body a {
    color: #e71d36;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.75em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Changa One', sans-serif;
}

p {
    line-height: 1.5;
}

/******************************************
               FONTS
******************************************/


/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://gwfh.mranftl.com/fonts/open-sans?subsets=latin') format('woff2');
}

/******************************************
               EN-TÊTE DE PAGE
******************************************/
header {
    background-color: black;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.logo-nom {
    font-family: "Changa One", sans-serif;
    font-size: 1.75rem;
    line-height: 0.8;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.logo-profession {
    margin-top: -5px;
    font-weight: normal;
    font-size: x-large;
}

/******************************************
               Navigation
******************************************/

nav {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}
nav ul {
    margin-right: 10px;
    margin-left: 10px;
}

nav ul li {
    padding: 5px;
    margin:0 auto;
    display: inline-block;
}

nav ul li a {
    color:white;
    font-family: "Changa One",sans-serif;
}

/******************************************
               Footer
******************************************/

footer {
    text-align: center;
}

footer p {
    display:grid;
}

.facebook-draw {
    height: 45px;
    width: 45px;
    display: inline-block;
    margin-left: 15px;
    filter: grayscale(1);
}

.twitter-draw {
    height: 45px;
    width: 45px;
    display:inline-block;
    margin-right:15px;
    filter: grayscale(1);
}

.twitter-draw:hover {
    filter: grayscale(0);
}

.facebook-draw:hover {
    filter: grayscale(0);
}
/******************************************
               PAGE ACCUEIL
******************************************/
.page-accueil h1 {
    text-align: center;
}

.page-accueil img {
    max-width: 100%;
}

.container-realisation {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    flex-wrap: wrap;
}

.page-accueil .container-realisation li {
    flex-basis: 50%;
    flex-grow: 1;
    padding: 1rem 2.5%;
}

figure {
    margin:0;
}


/******************************************
               PAGE CONTACT
******************************************/

.page-contact h1 {
    margin-left: 15px;
    margin-bottom: -2px;
}

.section-infos {
    margin-left: 15px;
}

.section-infos p {
    margin-top: -25px;
    padding-right:35px;
}

.section-contact {
    margin-left: 15px;
}

.liste1 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../images/phone.png);
}

.liste2 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../images/mail.png);
}

.liste3 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../images/twitter.png);
}

.liste4 {
    font-family: Verdana, Arial, Helvetica, Geneva, sans-serif;
    font-size: 100%;
    color: black;
    display: list-item;
    list-style-image: url(../images/facebook.png);
}

ul {
    margin-left: 40px;
}

.page-contact  .lien-contact a{
    color: #2ec4b6;
}

/******************************************
               PAGE INFO
******************************************/
.lien-accueil {
    display: none;
}

.page-info .lien-presentation a {
    color: #2ec4b6;
}

.logo-nom {
    color: #2ec4b6;
}

.image-laure {
    width: 30%;
    height: auto;
    border-radius: 200px;
    display: block;
    margin: auto;
}

.page-info h1 {
    text-align: center;
}

.titre-nom {
    margin-bottom: -20px;
}

.page-info p {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

