* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: #e71d36;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1.75em;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Changa One', sans-serif;
}

p {
    line-height: 1.5;

}

/******************************************
               FONTS
******************************************/


/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://gwfh.mranftl.com/fonts/open-sans?subsets=latin') format('woff2');
}

/******************************************
               EN-TÊTE DE PAGE
******************************************/
header {
    background-color: black;
    padding-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.logo-nom, .logo-profession {
font-family: "Changa One", sans-serif;
}

.logo-nom {
    font-size: 1.75rem;
    line-height: 0.8;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.logo-profession {
    margin-top: -5px;
}

/******************************************
               Navigation
******************************************/

nav {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 20px;
}
nav ul {
    margin-right: 10px;
    margin-left: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}


/******************************************
               PAGE ACCUEIL
******************************************/

.page-accueil h1 {
    background-color: red;
}
/******************************************
               PAGE CONTACT
******************************************/

.page-contact h1 {
    background-color: yellow;
}

/******************************************
               PAGE INFO
******************************************/
.lien-accueil {
    display: none;
}

.lien-presentation {
    color: #2ec4b6;
}

.logo-nom {
    color: #2ec4b6;
}

.image-laure {
    height: 30%;
    width: 30%;
    border-radius: 200px;
}

h1 {
    text-align: center;
}

.titre-nom {
    margin-bottom: -20px;
}

p {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    text-align: center;
}