* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

/******************************************
               FONTS
******************************************/


/* open-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('https://gwfh.mranftl.com/fonts/open-sans?subsets=latin') format('woff2');
}

/******************************************
               EN-TÊTE DE PAGE
******************************************/
header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.liste-horizontale {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.liste-horizontale li {
    margin-right: 10px;
}




/******************************************
               PAGE ACCUEIL
******************************************/

.page-accueil h1 {
    background-color: red;
}
/******************************************
               PAGE CONTACT
******************************************/

.page-contact h1 {
    background-color: yellow;
}

/******************************************
               PAGE INFO
******************************************/

.page-info h1 {
    background-color: deepskyblue;
}