* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4;
    color: #011627;
    background-color: #fdfffc;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

a {
    color: deeppink;
    text-decoration: none;
}

a:hover {
    color: darkmagenta;
}

/******************************************
               EN-TÊTE DE PAGE
******************************************/





/******************************************
               PAGE ACCUEIL
******************************************/

.page-accueil h1 {
    background-color: red;
}
/******************************************
               PAGE CONTACT
******************************************/

.page-contact h1 {
    background-color: yellow;
}

/******************************************
               PAGE INFO
******************************************/

.page-info h1 {
    background-color: deepskyblue;
}